body {
	font-family: monospace;
	background-color: rgb(40, 40, 40);
	background: rgb(40, 40, 40),
		linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
	color: rgba(51, 255, 0, 1);
	text-shadow:
		0 0 0.5rem rgba(51, 255, 0, 1),
		2px 0 1px rgba(0, 0, 255, 1),
		-1px 0 1px rgba(255, 0, 0, 1);
	margin: 0;
	height: 100vh;
	font-size: 16px;
}

.h {
	&-vh-100 {
		height: 100vh;
	}
}

.flex {
	display: flex;

	&-column {
		flex-direction: column;
	}

	&-center {
		justify-content: center;
		align-items: center;
	}

	&-space-between {
		justify-content: space-between;
	}

	&-direction {
		&-row {
			flex-direction: row;
		}

		&-column {
			flex-direction: column;
		}
	}
}

.cursor {
	animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

pre {
	margin-left: 0;
}

a {
	color: rgba(51, 255, 0, 1);
}

::selection {
	background: #0080ff;
	text-shadow: none;
}

.image {
	max-width: 10rem;
}

.width {
	&-100 {
		width: 100%;
	}
}

.height {
	&-100 {
		height: 100%;
	}

	&-90vh {
		height: 90vh;
	}
}

.fixed {
	position: fixed;
	&-top {
		top: 0;
	}
	&-bottom {
		bottom: 0;
	}

	&-left {
		left: 0;
	}

	&-right {
		right: 0;
	}
}

.overflow {
	&-hidden {
		overflow: hidden;
	}

	&-auto {
		overflow: auto;
	}

	&-scroll {
		overflow: scroll;
	}

	&-visible {
		overflow: visible;
	}

	&-x {
		overflow-x: hidden;
	}

	&-y {
		overflow-y: hidden;

		&-scroll {
			overflow-y: scroll;
		}

		&-auto {
			overflow-y: auto;
		}
	}
}

button,
a.button {
	border: 1px solid rgba(51, 255, 0, 1);
	color: rgba(51, 255, 0, 1);
	background-color: unset;
	padding: 0.5rem 1rem;
	cursor: pointer;
	text-decoration: none;
}

a.button {
	display: flex;
	align-items: center;
}

.margin {
	&-1rem {
		margin: 1rem;
	}

	&-mb {
		&-1 {
			margin-bottom: 1rem;
		}
	}
}
